<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Sink in serenity </h2>
    <p>
    "Bhaiya pehle mere hath me lagao", says the bride's sister to the mehendivala, the guy who is most important yet is overshadowed by the clamour and choas of one of the first ceremonies of the never-ending Indian wedding ceremonies. 

Which started as a vedic ritual is now a show biz for the ladki and ladka valas where they select from different themes - veranda mehendi, quite house theme, pompos destination mehendi, village style mehendi and what not. Being brought up in an urban setting we think of this ceremony as just another function where family gets together, eats delli street food cooked by exquisite cooks, which some relative suggested in the previous hot-shot punjabi wedding, and click selfies to upload it on insta to tease our extended families in U.S or Canada.  

Like every custom that we millennial make fun of 
and have an urgent need to sync it with our fast paced 
lives we made it all about the superficial rustic 
look with the photographer who clicks some candid 
snaps (not so candid) and the bangle vali redi 
all decorated with gende k flowers and green bangles. 
Maybe we moved too quickly to show it to the world 
how archaic we are when it comes to weddings and no matter how hard we party in club Cabana when we go to Goa, when it comes to weddings we are all old school. But are we really?

Last month, I went to the big fat Indian 
mehendi where ladies wore old Jaipuri 
style suits and tied flowers around their wrists
 with Jimmy Choos shoes and Armani shades. 
The bride's brother was all over the place 
giving orders to the flower
guy asking him to carry the basket inside the hall. 


They had booked a small resort in the outskirts 
of Jaipur, a total buzz these days with the upper-
middle class families. 
I looked at the beautiful lawn that smelled 
of rose and the decor that rang bells of 
serenity inside my body. The energy outside was as
high as the peace inside.  Little girls were excited 
about their mehendi designs and ran after 
each other to prove theirs' were better.
The bride wore a calm tussar 
yellow plain lehnga with red blouse.She sat 
excitedly with her friends and cousins ,
her hands on the green silk cushion, 
while the guy drew what looked like 
a prince on her palms. The mother of the bride was 
surrounded by her sisters and relatives. 
She looked overwhelmed and was nervously discussing the number of boxes to hand over to 
                                                       the guy's family and at the further end of the lawn sat 
                                                       the bride's grandmom. 
                                                       
                                                       She sat on the manji, which had its ropes covered with wine                                                         colored silk - a piece of beauty on its own. 


Coming out of obsession with the whole set-up I grabbed the rose lassi and went to introduce myself. 

"I have come here to cover the wedding aunty", I said as I sat on the wooden chauki placed just close to leg of the manji. "Humare time pe betta aisi cheezo ke paise ni dene padte the, humari toh shaadi hi gaon me hui thi na, toh humare paas thi hi sirf hari choodiya, manji, chauki aur gende k fool", she said and we both giggled at the irony of life. And it made me wonder 
"Aunty yeh mehndi ...", I mumbled. She being a wise old woman 
understood my question and said (translated in english) "In old times, 
where marriage was an explicit economic affair, the bride and the groom 
had little or rather no say in choosing their partners. 
This ensued nervousness, giddiness and an overwhelming feeling for both. 
To relax them and calm them, to soothe them and prepare them, 
loved ones  put heena on the palms of the bride and the groom. 
When the cool heena is drawn on the palms and legs it calms the nerves 
and relieves the stress ..."."Aunty aapko bula re hain",  said one of the helpers excitedly as she helped her stand and took her to the bride. As I sat their gulping in what aunty had just told me and looked across the lawn through my fake Gucci shades, suddenly the meaning of the whole ceremony changed for me and I wish it changes for you too...      

So, start this intimate affair with your partner with this intimate celebration to calm your jitters and don't get too lost in the whole hustle-bustle of the so called village-style mehendi theme...
    </p>
  </ion-content>
</ion-view>
